@using festivalprojekt.Shared.Models;
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppStatus AppState

<div class="page">

    <main>

        @if (AppState.LoggedIn)
        {
            <div class="top-row ">
                <a class="btn btn-primary me-2" href="/personligeoplysninger" role="button"> <span class="oi oi-person"></span> Profil</a>
                <a class="btn btn-outline-primary me-2" href="/" @onclick="() => ClearStorage()" role="button"> <span class="bi bi-box-arrow-left"></span> Log af</a>


            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>





@code{

    public void ClearStorage()
    {
        localStorage.ClearAsync();
        AppState.Log(false);
        StateHasChanged();
    }

}

