@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="dropdown">
                <button class="dropbtn"><span class="oi oi-person"></span></button>
                <div class="dropdown-content">
                    <a href="/personligeoplysninger">Dine oplysninger</a>
                    <a href="/" @onclick="() => ClearStorage()">Log ud</a>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    public void ClearStorage()
    {
        localStorage.ClearAsync();
    }
}

