<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">festivalprojekt</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signup">
                <span class="oi oi-plus" aria-hidden="true"></span> SignUp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allefrivillige">
                <span class="oi oi-plus" aria-hidden="true"></span> Alle frivillige
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="opretvagttype">
                <span class="oi oi-plus" aria-hidden="true"></span> Opret vagt type
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personligeoplysninger">
                <span class="oi oi-plus" aria-hidden="true"></span> Personlige oplysninger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="overblikkoordinator">
                <span class="oi oi-plus" aria-hidden="true"></span> overblik koordinator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dinevagter">
                <span class="oi oi-plus" aria-hidden="true"></span> dine vagter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ledigevagter">
                <span class="oi oi-plus" aria-hidden="true"></span> book vagter
            </NavLink>
        </div>



    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
