@page "/"
@using festivalprojekt.Shared.Models;
@using festivalprojekt.Client.Services;

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppStatus AppState
@implements IDisposable

<PageTitle>LOGIN</PageTitle>

<h3 class="d-flex justify-content-center">Login</h3>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col 6 pt-8" style="border-radius:10px; ">
            <EditForm EditContext="@editContext" class="row p-3" OnValidSubmit="() => SubmitHandler(this.emailkode)" OnInvalidSubmit="@InvalidSubmitHandler">
                <DataAnnotationsValidator />

                <div class="col-md-12 mb-3">
                    <label></label>

                    <InputText id="email" @bind-Value="emailkode.Email" class="form-control" placeholder="Email" />

                    <ValidationMessage For="@(() => emailkode.Email)" />
                </div>
                <div class="col-md-12 mb-3">
                    <label></label>

                    <InputText type="password" id="kodeord" @bind-Value="emailkode.Kode" class="form-control" placeholder="Kodeord" />

                    <ValidationMessage For="@(() => emailkode.Kode)" />
                </div>


 
                    @if (loginLoading == false)
                    {
            <div class="d-flex justify-content-center mb-8">
                <button type="submit" class="w-50 btn btn-dark mt-8">Login</button>
            </div>
                        
                    }
                    else if (loginLoading == true)
                    {
            <div class="d-flex justify-content-center mb-8">
                <button class="w-50 btn" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
                    }
                

            </EditForm>

            <div class="d-flex justify-content-center">
                <div class="text-grey">Ikke allerede tilmeldt? <small> <a href="/signup" class="link-secondary"> Sign Up </a> </small> </div>

            </div>
           

            @if (loginejl)
            {
                <div class="alert alert-danger mt-2" role="alert">
                    <strong>Fejl..</strong> Dine oplysninger er tastet forkert ind, prøv igen.
                </div>
            }

        </div>
        <div class="col"></div>
    </div>
</div>

@code {
    //wuhu
    public PersonDTO person = new PersonDTO();
    public LoginDTO emailkode = new LoginDTO();
    public EditContext editContext;
    public bool loginejl = false;
    public bool loginLoading = false;


    [Inject]
    ILoginService Service { get; set; }
    protected override void OnInitialized()
    {
        editContext = new EditContext(emailkode);
    }

    protected override async Task OnInitializedAsync()
    {
        ;
    }

    public async void SubmitHandler(LoginDTO x)
    {
        loginLoading = true;

        if (emailkode.Email.Length < 1)
        {
            return;
        }
        IEnumerable<PersonDTO> TempList = await Service.HentLoginPerson(x);

        if (TempList.Count() > 0)
        {
            person = TempList.First();
            await localStorage.SetItemAsync("PersonId", person.PersonId);
            await localStorage.SetItemAsync("RolleId", person.RolleId);
            AppState.OnChange += StateHasChanged;
            AppState.Log(true);

            HomePage();
        }

        loginejl = true;
        loginLoading = false;
        StateHasChanged();


    }
    public void InvalidSubmitHandler()
    {
        ;
    }
    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }


    public void HomePage()
    {
        NavigationManager.NavigateTo("/home");
    }
}
